@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f2f5
  }
  .login-page{
      width: 100%;
      height: 100%;
      
  }
  .login-container {
    overflow: auto;
    min-height: 300px;    
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    margin: 40px auto;
    padding: 20px 0 28px;
    width: 396px;
  }
  .login-input{
    color: #1c1e21;
    margin: 10px 31px;
    height: 50px;
    border: 2px solid #f0f2f5;
    border-radius: 8px;
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;

}
  .login-btn{
    background-color: #1877f2;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
    display: block;
    margin: 10px auto;
}
  .login-a{
    display: block;
    margin: 20px auto;
    text-align: center;
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
  }
  .Create-btn{
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    white-space: nowrap;
    background-color: #42b72a;
    margin: 0 auto;
  }
  .login-p{
    margin: 0 auto;
    text-align: center;
  }
  .hr{
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
  }
  .signup-container{
    background-color: white;
    overflow: visible;
    padding: 0;
    width: 432px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
    color: #90949c;
} h1{
  color:black;
}
.signup-container
.firstname{
  width:50%;
  font-size: 15px;
  line-height: 16px;
  padding: 12px;
  background: #f5f6f7;
  border:1px solid lightgrey;
  border-radius: 5px;
  margin-top:10px;

}
.lastname{
  width:50%;
  font-size: 15px;
  line-height: 16px;
  padding: 12px;
  background: #f5f6f7;
  border:1px solid lightgrey;
  border-radius: 5px;
  margin-top:10px;
}
.email-address{
  width: 100%;
  font-size: 15px;
  line-height: 16px;
  padding: 12px;
  background: #f5f6f7;
  margin: 10px 0;
  border:1px solid lightgrey;
  border-radius: 5px;
}
.date-of-birth{
  display: block;
}
.date-field{
  width:30%;
  margin: 5px;
}
.navbar{
  width:100%;
  height: 70px;
  background-color: #fff;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 0 30px;
  position: fixed;
  top: 0;
  z-index: 100;
}
.navbar__first{
  display: flex;
  align-items: center;
  width: 25%;
}
.navbar__logo{
  font-size:40px;
  color: #0d8cf1;
}
.navbar__first-logo{
  width: 20%;
}
.navbar__first-search{
  width: 80%;
  position: relative;
}
.navbar__first-searchbar{
  width: 100%;
  padding: 15px 45px;
  border: none;
  background-color: #f0f2f5;
  border-radius: 30px;
  outline: none;
}
.navabr__searchicon{
  position: absolute;
  left: 20px;
  top: 13px;
  font-size: 22px;
  color: silver;
}
.navabr__searchbutton{
  position: absolute;
  left: 225px;
  top: 9px;
  font-size: 22px;
  color: silver;
  border: none;
}
.searchResult{
  width: 100%;
  height: auto;
  padding: 15px 45px;
  border: none;
  background-color: #fff;
  position: absolute;
}
.searchName{
  position: absolute;
    left: 84px;
}
.addFriendButton{
  cursor:pointer;
}
#profile-toggle{
  display: none;
  position: absolute;
  top:70px;
}
.plus-button{
  border:none;
}
.navbar__middle{
  width: 50%;
  display: flex;
  padding: 0 70px;
  justify-content: space-between;
}
.navbar__middle-icons{
  font-size: 22px;
  color: #606770;
  cursor: pointer;
}
.navbar__last{
  width: 25%;
  display: flex;
  justify-content: center;
}
.navbar__last-section{
  margin: 0 25px;
  display: flex;
  width: 45px;
  height: 45px;
  background-color: #f0f2f5;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
.facebook{
display: flex;
margin-top: 70px;
}
.sidebar{
width: 25%;
position: fixed;
top: 90px;
}
.sidebar__list{
  display: flex;
  padding: 10px 30px;
  align-items: center;
}
.sidebar__list-img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}
.sidebar__list-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sidebar__list-name{
  margin-left: 12px;
}
.posts{
  width: 50%;
  margin-left: 25%;
  margin-top: 50px;
}
.stories{
  width: 100%;
  display: flex;
}
.stories__col{
  width: 25%;
}
.stories__body{
  height: 250px;
  padding: 0 10px;
  position: relative;
}
.stories__body img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.stories__body-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
 
}
.stories__body-overlay-img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 10px;
  margin-left: 20px;
  border: 4px solid #0d8cf1;
}
.stories__body-overlay-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.stories__body-name{
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: #fff;
  font-size: 15px;
}
.create{
width: 80%;
margin: 15px auto;
padding: 15px;
background: #fff;
box-shadow: 0 1px 2px rgba(0,0,0,0.3);
border-radius: 10px;
}
.create__first{
  display: flex;
  width: 100%;
}
.create__first-img{
  width: 20%;
}
.create__first-img span{
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}
.create__first-img span img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.create__first-input{
  width: 80%;
}
.create__first-inputs{
  width: 100%;
  padding: 15px 25px;
  border: none;
  background-color: #f0f2f5;
  border-radius: 30px;
  outline: none;
}
.create__second{
  width: 100%;
  border-top: 1px solid #f0f2f5;
  margin-top: 12px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
.create__second-icon{
  display: flex;
  align-items: center;
}
.text{
  margin-left: 7px;
}
.redcolor{
  color: #e72173;
  font-size: 23px;
}
.greencolor{
  color: #2aec4a;
  font-size: 23px;
}
.orangecolor{
  color: #f8f525;
  font-size: 23px;
}
.show{
  width: 80%;
  margin: 15px auto;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);

}
.show__header{
  display: flex;
  align-items: center;
}
.show__header-img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}
.show__header-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.show__header-name{
  margin-left: 12px;
  font-weight: 600;
}
.date{
  color: silver;
  font-size: 14px;
  font-weight: normal;
}
.show__body{
  width: 100%;
  display: flex;
  flex-direction:column ;
}
.show__body-text{
  width: 100%;
  margin: 12px 0;
}
.show__body-img img{
  width: 100%;
  height: 100%;
}
.show__reactions{
  border-top: 1px solid #f0f2f5;
  border-bottom: 1px solid #f0f2f5;
  display: flex;
  justify-content: space-between;
  padding:10px 0;
  cursor: pointer;
}
.reactions{
  display: flex;
  align-items: center;
}
.reactions-text{
  display: inline-block;
  margin-left: 5px;
}
.post__container{
  margin: 20px 0;
  padding:14px;
  background: #fff;
}
.chatbar{
  width: 25%;
  position: fixed;
  top: 80px;
  right: 0;
  overflow-y: scroll;
}
.chatbar__list{
  display:flex;
  align-items: center;
  padding: 0 25px;
  margin-top: 10px;
}
.chatbar__list-img{
  width: 35px;
  height: 35px;
  position: relative;
}
.status{
  display: block;
  width: 8px;
  height: 8px;
  background-color: chartreuse;
  position: absolute;
  bottom: 0;
  border-radius: 50%;
  right: 0;
  border-radius: 1px solid #f0f2f5;
}
.chatbar__list-img img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.chatbar__list-name{
  margin-left: 7px;
}
.error-msg{
  color: #ad0000;
  margin: 0 86px;
}
.pbutton{
  background-color:transparent;
  border:none;
  cursor: pointer;
}
#toggle-form{
  display: none;
}

.sidebar__icons{
  color: #0d8cf1;
  font-size: 40px;
  margin:10px;
}
.sidebar__text{
  margin: 10px;
  position:absolute;
  padding-top:10px;
}
.main-profile{
  height: auto;
  width:100%;
  background-color: #fff;
  top: 0px;
  position: relative;
}
.profile-body{
  width:100%;
  height: auto;
  
}
.profile_banner{
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(#835a38, #fff);
}
.profile_banner img{
  width: 70%;
  height: auto;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 0 0 10px 10px;
}
.profile__info{
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
}
.profile__options{
  display: flex;
  justify-content: center;
}
.profile__options p{
  margin: 0 10px;
  cursor: pointer;
  color:#65676B;
}
.profile__button{
  margin: 0 10px;
  padding: 5px;
  cursor: pointer;
  background-color: #1877f2;
  color: #fff;
  border-color: #1877f2;
  border-radius:5px ;
}
.profile__button-edit{
  background-color: #E4E6EB;
  border-color:#E4E6EB;
  border-radius:5px ;
}
.components{
  width:65%;
  margin: 0 auto;
}